Node-red Interface 1.json
[{"id":"ebf8804f42a66d2d","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"e74a9b32cb92eec2","type":"mqtt in","z":"ebf8804f42a66d2d","name":"payloadpoultest","topic":"#","qos":"2","datatype":"json","broker":"d4753f293a1ed142","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":240,"wires":[["900e52aecc9b88a9","111423905394374f","bc352f88888ed681","c7e8d98499d4a109","1a34086c7443cc8f","7af980fc8a673027","c8ea3e7427a67e2e"]]},{"id":"900e52aecc9b88a9","type":"debug","z":"ebf8804f42a66d2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.uplink_message.decoded_payload.luminosite","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":80,"wires":[]},{"id":"111423905394374f","type":"debug","z":"ebf8804f42a66d2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.uplink_message.decoded_payload.nbPoule","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":120,"wires":[]},{"id":"bc352f88888ed681","type":"debug","z":"ebf8804f42a66d2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.uplink_message.decoded_payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":160,"wires":[]},{"id":"c7e8d98499d4a109","type":"ui_text","z":"ebf8804f42a66d2d","group":"ab839d7.ce8f66","order":1,"width":"0","height":"0","name":"","label":"Nombre de poules","format":"{{msg.payload.uplink_message.decoded_payload.nbPoule}}","layout":"col-center","x":430,"y":200,"wires":[]},{"id":"97489b51f0d38596","type":"ui_text","z":"ebf8804f42a66d2d","group":"ab839d7.ce8f66","order":2,"width":"0","height":"0","name":"","label":"Last Update : ","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":240,"wires":[]},{"id":"1a34086c7443cc8f","type":"moment","z":"ebf8804f42a66d2d","name":"TimeFormateur","topic":"","input":"payload.uplink_message.decoded_payload.timestamp","inputType":"msg","inTz":"Europe/Brussels","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD MM YYYY HH:mm:ss","locale":"fr-FR","output":"","outputType":"msg","outTz":"Europe/Brussels","x":420,"y":280,"wires":[["97489b51f0d38596","25a619fa59aec118"]],"inputLabels":["msg.payload.uplink_message.decoded_payload.timestamp"]},{"id":"25a619fa59aec118","type":"debug","z":"ebf8804f42a66d2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":280,"wires":[]},{"id":"7af980fc8a673027","type":"ui_gauge","z":"ebf8804f42a66d2d","name":"","group":"ab839d7.ce8f66","order":3,"width":"0","height":"0","gtype":"gage","title":"Luminositée","label":"units","format":"{{msg.payload.uplink_message.decoded_payload.luminosite}}","min":0,"max":"100","colors":["#0c0481","#e65c00","#f2ffb3"],"seg1":"15","seg2":"30","x":410,"y":240,"wires":[]},{"id":"e0ab5bde8179fad8","type":"ui_text","z":"ebf8804f42a66d2d","group":"ab839d7.ce8f66","order":4,"width":0,"height":0,"name":"","label":"La porte est","format":"{{msg.payload.uplink_message.decoded_payload.portebool}}","layout":"row-spread","x":610,"y":340,"wires":[]},{"id":"c8ea3e7427a67e2e","type":"change","z":"ebf8804f42a66d2d","name":"","rules":[{"t":"change","p":"payload.uplink_message.decoded_payload.portebool","pt":"msg","from":"true","fromt":"bool","to":"est ouverte","tot":"str"},{"t":"change","p":"payload.uplink_message.decoded_payload.portebool","pt":"msg","from":"false","fromt":"bool","to":"est fermée","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":320,"wires":[["e0ab5bde8179fad8"]]},{"id":"61e0fea349aebdd8","type":"ui_numeric","z":"ebf8804f42a66d2d","name":"","label":"Nombre de poule total","tooltip":"","group":"ab839d7.ce8f66","order":5,"width":0,"height":0,"wrap":false,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":1,"x":440,"y":440,"wires":[[]]},{"id":"d4753f293a1ed142","type":"mqtt-broker","name":"TTN","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ab839d7.ce8f66","type":"ui_group","name":"Group 1","tab":"a7b45ed9.057be","order":1,"disp":true,"width":"6","collapse":false},{"id":"a7b45ed9.057be","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]